/* About.module.css */

/* Container */
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
}

/* About column */
.aboutColumn {
  flex: 1;
  text-align: left;

}
  
  /* About Titles and texts */
  .aboutColumn h3 {
    font-size: 24px;
    font-weight: 600;
    padding-top: 10px;
  }
  
  .textAbout {
    text-align: left;
    font-size: 17px;
    padding: 0px 30px 0px 30px;
  }
  
  .text-start {
    text-align: center!important;
    padding-bottom: 20px;
    width: 100%;
  }
  
  /* Social media Icons */
  .textLinks {
    display: flex;
    align-items: center;
    color: #2E2D29;
  }
  
  .socialIcon {
    color: #586d06;
    margin-right: 10px; 
  }
  
  .socialIcon:hover {
    background-color: #b8aa63;
  }
  
  .iconSpacer {
    margin-right: 10px;
  }
  
  /* GitHub button */
  .customBtn,
  a.customBtn,
  .customBtn:link,
  a.customBtn:link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: #586d06;
    color: #fff;
    font-size: 16px;
    margin-top: 3px;
  }
  
  .customBtn:hover,
  a.customBtn:hover {
    background-color: #37410d;
    color: #fff;
  }
  
  /* GitHub icon */
  .customBtn i.fab.fa-github {
    color: #fff; /* Cor do ícone */
  }
  
  .customBtn .githubIconMargin {
    margin-right: 6px;
  }
  
  /* Break lines */
  .aboutHr {
    width: auto;
    margin-bottom: 3px;
  }


/* Media queries */
/* Large screens */
@media (max-width: 1200px) {
  .aboutColumn {
    max-width: 100%;
    margin: 0;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .aboutColumn {
    max-width: 100%;
    margin: 0;
  }
}