/* About.module.css */

/* Container */
.aboutContainer {
  display: flex;
  flex-wrap: wrap;
}

/* About column */
.aboutColumn {
  flex: 1;
  text-align: left;
}
  
/* About Titles and texts */
.aboutColumn h3 {
  font-size: 24px;
  font-weight: 600;
  padding-top: 10px;
}
  
.textAbout {
  text-align: left;
  font-size: 17px;
  padding: 0px 30px 0px 30px;
}
  
.text-start {
  text-align: center!important;
  padding-bottom: 20px;
  width: 100%;
}
    
/* GitHub button */
.githubLink {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: #586d06;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
}
  
.githubLink:hover {
  background-color: #37410d;
  color: #fff;
  margin-right: 8px; 
}
  
/* GitHub icon */
  .githubIcon {
  margin-right: 10px;
}
  
/* Break lines */
.aboutHr {
  width: auto;
  margin-bottom: 3px;
}

/* Media queries */
/* Large screens */
@media (max-width: 1200px) {
  .aboutColumn {
    max-width: 100%;
    margin: 0;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .aboutColumn {
    max-width: 100%;
    margin: 0;
  }
}