/* Navbar.module.css */

.NavBar {
    display: flex;
    background-color: #586d06;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    margin: 0 auto;
    padding: 1rem;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo and Shop name */
.brandLink {
    text-decoration: none;
    color: whitesmoke;
}

.logoShop {
    width: 70px;
    max-height: 100%;
    will-change: filter;
    transition: filter 300ms;
}

.logoShop:hover {
    filter: drop-shadow(0 0 2em #ea2727aa);
}

.brand-text {
    font-weight: 700;
    /* Adicione estilos conforme necessário para a área de texto da marca */
}

.brand {
    font-weight: bold;
}


/* Nav Links  */
.navbar-nav .nav-link {
    color: whitesmoke;
    margin-right: 15px;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid whitesmoke;
}
