/* Navbar.module.css */
.NavBar {
    max-width: 1280px;
    height: 90px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #d8d5d57f;
    color: #1e1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.navContainer span {
    font-size: 1.5rem; /* 24px -> 16px = 1rem*/
    font-weight: bold;
}

.navContainer a {
    text-decoration: none;
    color: #1e1d1d;
    padding-right: 1rem;
    font-size: 1.125rem; /* 18px */
}

.navContainer a:hover {
    filter: drop-shadow(0 0 2em #d33535aa);
}

.logo-shop {
    max-height: 100%;
    width: auto;
    height: 4em;
    padding: 0, 0.4em, 0 0.4em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #d33535aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo-shop {
        animation: logo-spin infinite 30s linear;
    }
}

#products {
    padding: 1em;
    background-color: #b6b4b48c;
    border: #1e1d1d;
}

.read-the-docs {
    color: #888;
}
