/* Categories.module.css */

#category-container {
    margin: 20px auto;
}

.category-grid {
    display: grid;
    gap: 15px;
    padding: 5px 18px 5px 18px;
}

.category-grid .card {
    display: flex;
    flex-direction: column;
    background-color: #f4f7fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    text-align: center;
    overflow: hidden; 
    transition: transform 0.3s ease;
}

.category-grid .card:hover {
    transform: translateY(-5px);
}

.categoryName {
    font-size: 20px;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    color: #333; 
    margin-top: 10px;
    text-decoration: none;
}

.product-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px 8px 0 0; 
}

/* Media query for large screens (width greater than 768px) */
@media screen and (min-width: 768px) {
    .category-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Media query for small screens (width less than 768px) */
@media screen and (max-width: 767px) {
    .category-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
