/* Products.jsx */

/* Container */
.productsContainer {
    /* display: flex; */
    flex-wrap: wrap;
}

.product {
    display: flex;
}

.container {
    flex: 1;
    text-align: left;
}

/* Titles and texts */
.productsTitle {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 0px 10px 0px;
    align-items: center;
}
    
.textProducts {
    font-size: 17px;
    padding: 0px 30px 0px 30px;
}
    
.text-start {
    text-align: center!important;
    padding-bottom: 20px;
    width: 100%;
}

h3 {
    text-align: center;
}

/* Break lines */
.productsHr {
    width: auto;
    margin-bottom: 3px;
}

/* Para telas menores que 768px (por exemplo, dispositivos móveis) */
@media screen and (max-width: 767px) {
    .row-cols-1 {
      grid-template-columns: repeat(1, 1fr); /* Um produto por linha */
    }
}

/* Para telas maiores ou igual a 768px (por exemplo, tablets e desktops) */
@media screen and (min-width: 768px) {
    .row-cols-lg-2 {
      grid-template-columns: repeat(2, 1fr); /* Dois produtos por linha */
    }
}
