/* ProductCard.module.css */

/* ProductCard.css */

.container {
  /* display: flex; */
  margin: 20px auto;
  flex-wrap: wrap;
}

.cardContainer {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
  
  .productImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .cardBody {
    margin: 15px;
  }

  .productTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  .productDescription {
    margin-top: 8px;
  }
  
  .productPrice {
    font-size: 22px;
    margin-right: 200px;
    font-weight: bold;
    color: red;
  }

  .addToCartButton:hover {
    background-color: #45a049;
  }