/* Hero.module.css */

#productCarousel {
    padding: 20px; /* Adiciona padding de 20px ao redor do carrossel */
}

#productCarousel img {
    width: calc(100% - 40px); /* Calcula a largura das imagens descontando o padding */
    margin: 0 auto; /* Centraliza as imagens horizontalmente */
    transform: rotate(5deg); /* Adiciona um efeito de rotação */
    transition: transform 0.5s ease-in-out; /* Adiciona uma transição suave no efeito de rotação */
}

#productCarousel .carousel-item:first-child img {
    transform: rotate(0deg); /* Remove a rotação para o primeiro slide */
}

#productCarousel .carousel-indicators {
    bottom: 10px; /* Ajusta a distância do fundo da tela */
}

#productCarousel .carousel-indicators .active {
    background-color: #fff; /* Cor de fundo da bolinha ativa */
}