/* Contact.module.css */
.contactForm {
    width: 100%;
    margin: 0 auto;
    /*margin-top: 20px;*/
    font-family: 'DM Sans', sans-serif;
}

.formGroup {
    align-items: center;
    margin-bottom: 5px;
    justify-content: center;
}

.formLabel {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formControl {
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px;
    padding: 8px 10px;
    border-radius: 5px;
}

.submitButton {
    background-color: #586d06;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.submitButton:hover {
    background-color: #b8aa63;
}

/* Seletor específico para a coluna que contém o formulário */
.col.d-lg-none,
.col.d-none.d-lg-block {
    flex: 1; /* Ou outro valor conforme necessário */
    margin: 0 15px;
}
