/* Navbar.module.css */

/* Navbar Styles */
.Header {
    display: flex;
    width: 100%;
    background-color: #586d06;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    padding: 0.5rem;
}

/* Logo and Shop name */
.navbarBrand {
    text-decoration: none;
    color: #f5f5f5;
}

.logoShop {
    width: 90px;
    max-height: 100%;
    will-change: filter;
    transition: filter 300ms;
    margin-left: 20px;
}

.logoShop:hover {
    filter: drop-shadow(0 0 2em #ea2727aa);
    padding-left: 20px;
    margin-left: 20px;
}

.brandText {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 20px;
}

.brand-container  {
    display: flex;
}


/* Nav Links  */
.navbarNav {
    list-style: none;
    padding: 0;
    margin-left: 40%;
}

.navbarNav a {
    font-size: 20px;
    color: #f5f5f5;
    text-decoration: none;
    margin-right: 25px;
}

.navbarNav a:hover {
    color: #ea2727aa; /* Cor do texto ao passar o mouse */
}


/* Toggler button */
.customNavbarToggler {
    background-color: transparent;
    margin-right: 50px;
}

.customNavbarToggler:focus {
    outline: none;
}

