/* Navbar.module.css */

/* Navbar Styles */
.Header {
    display: flex;
    width: 100%;
    background-color: #586d06;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    padding: 0.5rem;
}

/* Logo and Shop name */
.navbarBrand {
    text-decoration: none;
    color: #f5f5f5;
}

.logoShop {
    width: 90px;
    max-height: 100%;
    will-change: filter;
    transition: filter 300ms;
    margin-left: 20px;
}

.logoShop:hover {
    filter: drop-shadow(0 0 2em #ea2727aa);
    padding-left: 20px;
    margin-left: 20px;
}

.brandText {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 20px;
}

.brand-container  {
    display: flex;
}

/* Nav Links  */
.navbarNav {
    margin-left: 50px;
}

.navbarNav a {
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none;
    margin-right: 25px;
    transition: color 0.3s ease; 
}

.navbarNav a:hover {
    color: #e53424;
}

.navbarToggler {
    align-items: center;
}

.customLink {
    font-size: 20px;
    margin-right: 15px;
}

/* Auth Links */
.navbarAuth a {
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none;
    margin-right: 25px;
    transition: color 0.3s ease; 
}

.navbarAuth a:hover {
    color: #e53424;
}

.authLinks {
    margin-left: 50px; 
}

.customAuthLink {
    font-size: 18px;
    margin-right: 15px;
}


/* Toggler button */
.customNavbarToggler {
    background-color: transparent;
    margin-right: 20px;
}

.customNavbarToggler:focus {
    outline: none;
}

/* Icons */
.link {
    font-size: 1rem;
    margin-right: 5px;
}
