/* Footer.module.css */

.footer {
    color: #2E2D29;
}

.darkBg {
    background-color: #d8d5d57f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 1;
    margin: 0 15px;
}

.btnSignup {
    background-color: #007bff;
    color: #fff;
}

.m0 {
    margin: 0;
}

.textWhite {
    font-size: 17px;
}

.textLinks {
    display: flex;
    align-items: center;
}

.ms3 {
    margin-left: 3px;
}

.footerCopyright {
    font-size: 14px;
}  

.footerHr {
    margin-bottom: 1px;
}
