/* Footer.module.css */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #d8d5d57f;
    color: #2E2D29;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    padding: 15px 0 15px 0;
}

.row {
    justify-content: space-between;
    padding: 10px 5px;
}

/* Columns */
.col {
    flex: 1;
    max-width: 50%;
    margin: 0 15px;
    text-align: left;
}

.contactColumn {
    padding-top: 20px;
}


/* Titles and texts */
.col h3 {
    font-size: 24px;
    font-weight: 600;
}


.footerTitle {
    font-size: 24px;
    padding-top: 15px;
}

.textAbout {
    text-align: left;
    font-size: 17px;
}

.text-start {
    text-align: left!important;
    padding-bottom: 20px;
    width: fit-content
}

/* GitHub button */
.customBtn,
a.customBtn,
.customBtn:link,
a.customBtn:link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    background-color: #586d06;
    color: #fff;
    font-size: 16px;
    margin-top: 3px;
}

.customBtn:hover,
a.customBtn:hover {
    background-color: #37410d;
    color: #fff;
}

/* GitHub icon */
.customBtn i.fab.fa-github {
    color: #fff;
}

.customBtn .githubIconMargin {
    margin-right: 6px;
}

/* Social media Icons */
.socialIconsContainer {
    display: flex;
    align-items: center;
    color: #586d06;
    font-size: 24px; 
    margin-top: 10px; 
}

.socialIcon {
    color: #586d06;
    margin-right: 10px;
    font-size: 24px;
    transition: background-color 0.3s;
}

.socialIcon:hover {
    background-color: #b8aa63;
}

.iconSpacer {
    margin-right: 10px;
}

/* Payment icons container */
.paymentIconsContainer {
    display: flex;
    align-items: center;
    color: #586d06;
    font-size: 24px; 
    margin-top: 10px; 
}

.paymentIcon {
    color: #586d06;
    margin-right: 10px;
    font-size: 24px;
    transition: background-color 0.3s;
}

.paymentIcon:hover {
    background-color: #b8aa63;
}

.iconSpacer {
    margin-right: 10px;
}

/* Break lines */
.footerHr {
    width: auto;
    margin-bottom: 3px;
}

/* Copyright text */
.footerCopyright {
    font-size: 14px;
    color: #2E2D29;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
