/* Footer.module.css */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #d8d5d57f;
    color: #2E2D29;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1200px;
    margin: 20 auto;
    padding: 10px 5px;
}

/* Columns */
.col {
    flex: 1;
    max-width: 50%;
    margin: 0 15px;
    text-align: left;
}

.col + .col {
    margin-left: 15px;
}

/* Titles and texts */
.col h3 {
    font-size: 24px;
    font-weight: 600;
}

.col.undefined {
    flex: 1; /* Ou outro valor conforme necessário */
    margin: 0 15px;
}

.contactTitle,
.aboutTitle {
    font-size: 24px;
}

.textAbout {
    text-align: left;
    font-size: 17px;
}

/* GitHub button */
.btn.customBtn {
    background-color: #0366d6; /* Cor de fundo desejada */
    color: #fff; /* Cor do texto */
    border: 2px solid #0366d6; /* Cor da borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
}

.btn.customBtn:hover {
    background-color: #024682; /* Cor de fundo ao passar o mouse */
    border-color: #024682; /* Cor da borda ao passar o mouse */
}

/* Social media Icons */
.textLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2E2D29;
}

.socialIcon {
    color: #586d06;
    margin-right: 10px; 
}

.socialIcon:hover {
    background-color: #b8aa63;
}

.iconSpacer {
    margin-right: 10px;
}

/* Break lines */
.footerHr {
    margin-bottom: 3px;
}

/* Copyright text */
.footerCopyright {
    font-size: 14px;
    color: #2E2D29;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
