#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-shop {
  height: 4em;
  padding: 0.4em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-shop:hover {
  filter: drop-shadow(0 0 2em #d33535aa);
}

#products {
  padding: 1em;
  background-color: #b6b4b48c;
  border: #1e1d1d;
}

.read-the-docs {
  color: #888;
}
