/* src/index.css */

@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  font-family: 'DM Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  width: fit-content;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
